<div class="jumbotron">


  <p class="lead">
    <img src="images/GrayCar.svg" alt="Welcome to CrashTag!"><br>


  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#/">Sign In<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

<div class="row marketing">


  <h4>Report Faster</h4>
  <p>
    10 Clicks iis all it takes to a perfectly documented crash report
  </p>

  <h4>Report More Reliably</h4>
  <p>
    Tired of your boss confusing you with an artist? Get the exact mapping every time
  </p>

  <h4>Report With Ease</h4>
  <p>Find everything and change anything through out smart search bar</p>
</div>
