<style>


h1 {

  font-size: 210%;


}

.center {

    width: 100%;
    text-align:center;
    padding-bottom: 5%;

}

</style>






<h1>Please Enter A Written Report Of Events</h1>

<!--Beg Of JumboTron-->
<div class="jumbotron">

  <textarea id="statement" class="form-control" ng-model="statement" placeholder="Officers Report..." cols="50" rows="10"></textarea>


</div>

  <div class="center">

  <a id = "continueButton" ng-click="continueButtonCtrl()" class="btn btn-lg btn-success">Next</a>

  </div>
