<p>


<style>

#headText {

  font-size: 180%;
  padding-bottom: 10%;

}

#b2 {

  vertical-align: middle;
  width: 10%
  word-wrap: break-word;
 /*  overflow:hidden; */
  font-size: 80%;
  line-height: 30px;
}

#b3 {

  vertical-align: middle;
  width: 10%
  word-wrap: break-word;
/*  overflow:hidden; */
  font-size: 80%;
  line-height: 30px;

}

</style>



<div class="jumbotron">


  <h1 id=headText >How would you like to specify location?</h1>

  <div class="btn-group" role="group" aria-label="...">
  <a id = "b2"  ng-click="setLocationAutomatically($event)" class="btn  btn-info">Use Device GPS</a>
  <a id = "b3"  ng-click="setLocationManually($event)" class="btn  btn-info">Manually Specify</a>

</div>



</div>

</p>
